{% extends 'base.html'%}
{% load bootstrap %}:
{%block conteudo%}
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="white-box">
            <div class="d-md-flex mb-3">
                <h3 class="box-title mb-0">Boletins de Ocorrência</h3>
                
            </div>
            {% if lista_bos %}
            <div class="table-responsive">
                <table class="table no-wrap">
                    <thead>
                        <tr>
                            <th class="border-top-0">#</th>
                            <th class="border-top-0">Numero</th>
                            <th class="border-top-0">Data de Registro</th>
                            <th class="border-top-0">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                     {% for bo in lista_bos %}
                        <tr> 
                            <td>{{ forloop.counter }}</td>
                            <td class="txt-oflo">
                                <a href="{{ bo.get_absolute_url }}">{{ bo.numero }}</a>
                            </td>
                            <td class="txt-oflo">{{ bo.data_registro  }}</td>
                            <td class="txt-oflo">{{ bo.valor_total }}</td>
                            
                        </tr>
                       
                     {%endfor%}
                     </tbody>
                </table>
            </div>

            <div class="card-footer py-4">
                <nav aria-label="...">
                  <ul class="pagination justify-content-end mb-0">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Anterior</span>
                      </a>
                    </li>
                    {% endif %}
                    <li class="page-item active">
                      <a class="page-link" href="?page={{ page_obj.number}}">{{ page_obj.number}}<span class="sr-only">(atual)</span></a>
                    </li>
                    {% if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Próxima</span>
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                </nav>
              </div>
              {% else %}
                <p>Não existem Itens disponíveis.</p>
              {% endif %}

        </div>
    </div>
</div>
{% endblock %}