{% extends 'base.html'%}
{% block vergraficos %}

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        Use os botões para trocar de grafico, para melhor avalição.
    </p>

    <button id="plain">Colunas</button>
    <button id="inverted">Colunas Invertidas</button>
    <button id="polar">Circular</button>
</figure>
{%endblock%}
{% block tabela %}
 <!-- ============================================================== -->
                <!-- RECENT SALES -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="d-md-flex mb-3">
                                <h3 class="box-title mb-0">BO'S R$</h3>
                                
                            </div>
                            <div class="table-responsive">
                                <table class="table no-wrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">#</th>
                                            <th class="border-top-0">Numero</th>
                                            <th class="border-top-0">Data de Registro</th>
                                            <th class="border-top-0">Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                     {% for valor in valores %}
                                        <tr> 
                                            <td>{{ forloop.counter }}</td>
                                            <td class="txt-oflo">{{ valor.numero }}</td>
                                            <td class="txt-oflo">{{ valor.data }}</td>
                                            <td class="txt-oflo">{{ valor.valor_total }}</td>
                                            
                                        </tr>
                                       
                                     {%endfor%}
                                     </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}

{%block graficos%}
{{grafico|json_script:"dados-bos"}}

<script>
    var d = JSON.parse(document.getElementById('dados-bos').textContent);
    console.log(d);
    const chart = Highcharts.chart('container', {
    title: {
        text: 'BOS por Valores'
    },
    subtitle: {
        text: 'R$'
    },
    xAxis: {
        categories: ['1 a 100', '101 a 600', '601 a 1.200', '1.201 a 3.000', '3.001 a 5.000', '5.001 a 10.000', '10.001 a 30.000', '30.001 a 50.000', '50.001 a 100.000', '100.001 a 200.000', '200.001 a 300.000', '300.001 a +']
    },
    series: [{
        type: 'column',
        colorByPoint: true,
        data: [d['100'],d['600'], d['1200'], d['3000'], d['5000'], d['10000'], d['30000'],d['50000'], d['100000'], d['200000'], d['300000'], d['+300000']],
        showInLegend: false
    }]
});

document.getElementById('plain').addEventListener('click', () => {
    chart.update({
        chart: {
            inverted: false,
            polar: false
        },
        subtitle: {
            text: 'R$'
        }
    });
});

document.getElementById('inverted').addEventListener('click', () => {
    chart.update({
        chart: {
            inverted: true,
            polar: false
        },
        subtitle: {
            text: 'R$'
        }
    });
});

document.getElementById('polar').addEventListener('click', () => {
    chart.update({
        chart: {
            inverted: false,
            polar: true
        },
        subtitle: {
            text: 'R$'
        }
    });
});

</script>
{{dados|json_script:"dados-bos"}}
{% endblock %}