{% load static %}
<head>
  <meta charset="utf-8">
    <title>Starter Template for Bootstrap</title>
      <!-- Bootstrap core CSS -->
    <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static '/Highcharts/code/highcharts.js' %}"></script>
    <script src="{% static '/Highcharts/code/modules/exporting.js' %}"></script>
    <script src="{% static '/Highcharts/code/modules/export-data.js' %}"></script>
    <script src="{% static '/Highcharts/code/modules/accessibility.js' %}"></script>
    
</head>
